:root {
  --bg-send-msg: #D5F9BA;
  --bg-top-bar: #EAEAEA;
  --bg-notifications: #8EDAFC;
  --bg-latest-msg: #FAFAFA;
  --bg-txt-bar: #F3EEEA;
  --txt-prev-msg: #BFC2C4;
  --icons-top-bar: #B1B1B1;
  --icons-write-bar: #6B7376;
  --last-access: #7A8184;
  --dark-mode-toggle: #888;
  --dark-mode-btn: #00c1ad;
  --body-bg: linear-gradient(to bottom, #009688 0%,#009688 15%, #DADBD4 15%, #DADBD4 85%);
  --bg-chat: url('../../img/mine.jpg');
  --top-bar-h: 70px;
  --notifications-h: 80px;
  --search-bar-h: 50px;

  --generic-txt-color: black;
  --primary-color: white;
  --row-hover-color:rgb(239, 236, 236);
  --row-active-color:rgb(224, 221, 221);
  --border-color: lightgray;
  --msg-bg-color: white;
  --emoji-box-clr: rgb(242, 241, 241);
  --emoji-box-blur: white;
  --emoji-triangle-clr: #fbfbfb;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color .5s, 
              color .03s,
              opacity .5s,
              background-image .5s,
              border-top .5s,
              box-shadow .5s;
}

/*******************************************
  UTILITY
*******************************************/
.container {
  width: 80%;
  height: 95%;
  margin:auto;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

.padding-xs {
  padding: 10px;
}

.padding-s {
  padding: 15px;
}

.circle-form {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden; 
  object-fit: cover;
  cursor: pointer;
}

/* DARK MODE */
.dark {
  --bg-send-msg: #6f9b75;
  --bg-top-bar: #868686;
  --bg-notifications: #2f7a9d;
  --bg-latest-msg: #adacac;
  --bg-txt-bar: #a89e96;
  --txt-prev-msg: #d2d3d4;
  --icons-top-bar: #575555;
  --icons-write-bar: #2c3031;
  --last-access: #a1b3bc;
  --dark-mode-toggle: #444;
  --dark-mode-btn: #008578;
  --body-bg: linear-gradient(to bottom, #00645a 0%,#00645a 15%, #292927 15%, #292927 85%);
  --bg-chat: url('../../img/dark-theme.jpg');
  --primary-color: grey;
  --generic-txt-color: white;
  --row-hover-color:rgb(75, 73, 73);
  --row-active-color:rgb(32, 32, 32);
  --msg-bg-color: rgb(49, 49, 49);
  --emoji-box-clr: rgb(185, 183, 183);
  --emoji-box-blur: black;
  --emoji-triangle-clr: #454444;
}

.darkmode-toggle {
  width: 50px;
  height: 25px;
  background-color: var(--dark-mode-toggle);
  border-radius: 25px;
  cursor: pointer;
}

.toggle-button {
  width: 20px;
  height: 20px;
  background-color: var(--dark-mode-btn);
  border-radius: 50%;
  margin: 2.5px;
  transition: transform .3s;
}

.dark .toggle-button {
  transform: translateX(25px);
}

/*******************************************
  GENERAL
*******************************************/
body {
  font-family: "Lato", sans-serif;
}


.main-wrapper {
  height: 100vh;
  padding: 2.5vh 0;
  background: var(--body-bg);
  color: var(--generic-txt-color);
}


img {
  max-width: 100%;
}

i {
  font-size: 1.5rem;
  cursor: pointer;
}

a {
  color: var(--icons-write-bar);
}

input {
  height: 100%;
  border: none;
}

::-webkit-input-placeholder { /* WebKit browsers (Safari, Google Chrome, Opera 15+) */
  color: lightgray;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: lightgray;
 opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: lightgray;
 opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: lightgray;
}

/*******************************************
  MAIN
*******************************************/
.l-col {
  width: 380px;
  background-color: var(--primary-color);
  border-right: 1px solid var(--border-color);
}

.dx-col {
  width: calc(100% - 380px);
}

.top-bar {
  height: var(--top-bar-h);
  background-color: var(--bg-top-bar);
}

/***************
  LEFT COLUMN
***************/
.menu-icons i {
  color: var(--icons-top-bar);
  margin-right: 15px;
}

/* NOTIFICATIONS */
.l-col .notifications {
  height: var(--notifications-h);
  background-color: var(--bg-notifications);
}

.l-col .notifications i {
  background-color: white;
  color: var(--bg-notifications);
  line-height: 50px;
  margin-right: 20px;
}

.l-col .notifications .notification-status {
  font-size: .8rem;
  line-height: 1.2rem;
  height: fit-content;
}

/* SEARCH BAR */
.l-col .search-bar {
  height: var(--search-bar-h);
  background-color: var(--bg-latest-msg);
}

.l-col .search-bar .icon {
  background-color: white;
  width: 50px;
  height: 100%;
}

.l-col .search-bar i {
  font-size: 1rem;
  color: var(--icons-top-bar);
  background-color: white;
}

.l-col .search-bar input {
  width: calc(100% - 50px);
}

/* CONTACT LIST */
.l-col .contact-list {
  height: calc(100% - var(--top-bar-h) - var(--notifications-h) - var(--search-bar-h));
  overflow-y: scroll;
  border-top: 1px solid var(--border-color);
}

.contact-list .latest-msg .row {
  height: 80px;
  background-color: var(--primary-color);
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}

.contact-list .latest-msg .row:hover {
  background-color: var(--row-hover-color);
}

.contact-list .latest-msg .row.active {
  background-color: var(--row-active-color);
}

.contact-list .latest-msg .row .user-name,
.dx-col .user-name {
  margin-left: 15px;
  line-height: 1.3rem;
  font-size: .7rem;
}

.contact-list .latest-msg .user-name .msg-preview {
  color: var(--txt-prev-msg);
}

.contact-list .latest-msg .row.active .msg-preview,
.contact-list .latest-msg .row.active .msg-hour {
  color: white;
}

.contact-list .latest-msg .msg-hour {
  justify-self: flex-end;
  align-self: flex-start;
  color: var(--txt-prev-msg);
  font-size: .7rem;
}

/***************
  RIGHT COLUMN
***************/
.msg-box {
  height: calc(100% - (var(--top-bar-h) * 2));
  background-image: var(--bg-chat);
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  padding: 50px 11%;
}

.msg-box .empty-chat {
  text-align: center;
}

.msg-box .msg-balloon {
  max-width: 60%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: var(--msg-bg-color);
  position: relative;
  align-self: flex-start;
}

.msg-balloon .triangle {
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.msg-balloon:not(.sent) .triangle {
  border-top: 10px solid var(--msg-bg-color);
  top: 0;
  left: -10px;
}

.msg-balloon.sent .triangle {
  border-top: 10px solid var(--bg-send-msg);
  top: 0px;
  right: -10px;
}

.msg-box .msg-balloon > p,
.msg-box .msg-balloon input {
  padding-bottom: 30px;
}

.msg-balloon.sent {
  background-color: var(--bg-send-msg);
  align-self: flex-end;
}

.msg-balloon.sent input {
  background-color: var(--bg-send-msg);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  text-decoration: underline;
  color: var(--generic-txt-color);
  width: 100%;
}

.msg-balloon.sent input:focus {
  outline: none;
}

.msg-balloon .msg-infos {
  font-size: .6rem;
  color: var(--generic-txt-color);
  align-items: flex-end;
}

.msg-balloon .msg-infos i {
  opacity: 0;
  font-size:  .7rem;
}

.msg-balloon:hover .msg-infos i {
  opacity: 1;
}

.msg-balloon .msg-infos .msg-menu {
  position: relative;
}

.msg-balloon .msg-infos .msg-menu ul {
  list-style: none;
  background-color: var(--msg-bg-color);
  width: 150px;
  text-align: center;
  box-shadow: 0 0 5px black;
  position: absolute;
  top: 15px;
  right: 0px;
  z-index: 999;
}

.msg-balloon .msg-infos .msg-menu ul li {
  border-bottom: 1px solid var(--border-color);
  font-size: 1rem;
  line-height: 2rem;
  color: var(--generic-txt-color);
  cursor: pointer;
}

.msg-balloon .msg-infos .msg-menu ul li:hover {
  background-color: whitesmoke;
  color: black;
}

/* TEXT BAR */
.txt-bar {
  height: var(--top-bar-h);
  width: 100%;
  background-color: var(--bg-txt-bar);
}

.txt-bar .emoji-section,
.txt-bar .voice {
  width: 70px;
  color: var(--icons-write-bar);
}

.txt-bar input {
  width: calc(100% - 140px);
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
}

/* EMOJI */
.emoji-section,
.emoji-wrapper,
.reactions-btn,
.default-reactions {
  position: relative;
}

.emoji-container {
  width: 272px;
  height: 400px;
  position: absolute;
  left: -100%;
  bottom: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 10px;
  background-color: var(--emoji-box-clr);
  box-shadow: 0 0 50px inset var(--emoji-box-blur);
}

.emoji-wrapper:after {
  content: '';
  border-left: 15px solid var(--emoji-triangle-clr);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: 15px;
  left: 0;
  transition: all .5s
}

.single-emoji {
  width: calc(100% / 6);
  cursor: pointer;
}

.single-emoji:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* REACTIONS */
.reactions-box {
  width: 272px;
  height: 41px;
  border-radius: 10px;
  background-color: lightgray;
  overflow: hidden;
  position: absolute;
  right: -280px;
  top: 0;
  z-index: 999;
}

.show-all {
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.all-reactions {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: whitesmoke;
}

.active-reactions {
  position: absolute;
  bottom: -12px;
  cursor: pointer;
}

/*******************************************
  MEDIA QUERY
*******************************************/
/**************
  TABLET
**************/
@media (max-width: 992px) {
  body {
    padding: 0;
    background: none;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .l-col {
    width: 90px;
  }

  .dx-col {
    width: calc(100% - 90px);
  }

  /* LEFT COLUMN */
  .l-col .menu-icons,
  .l-col .notifications,
  .l-col .search-bar,
  .l-col .user-name,
  .l-col .msg-hour {
    display: none;
  }

  .l-col .contact-list {
    height: calc(100% - var(--top-bar-h));
  }

  .msg-box {
    padding: 50px 6%;
  }
}

/**************
  MOBILE
**************/
@media (max-width: 541px) {
  .l-col,
  .menu-icons,
  .txt-bar .emoji,
  .txt-bar .voice {
    display: none;
  }

  .dx-col {
    width: 100%;
  }

  .msg-box .msg-balloon {
    width: 75%;
  }

  .msg-box .msg-balloon > p {
    padding-bottom: 15px;
  }

  .dx-col .txt-bar {
    padding: 10px 20px;
  }

  .txt-bar input {
    width: 100%;
  }
}